<!--<pre>{{filteredCities$ | async | json}}</pre>-->
<form class="example-form mat-form-field-appearance-fill">
  <mat-form-field class="example-full-width location-input">
    <mat-label>City</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="citiesControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">

      <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.AdministrativeArea.LocalizedName">
        {{city.AdministrativeArea.LocalizedName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
