<!--<pre>{{filteredCities$ | async | json}}</pre>-->
<form class="example-form mat-form-field-appearance-fill">
  <mat-form-field class="example-full-width location-input">
    <mat-label>City</mat-label>
    <input type="text"
           placeholder="Select a city"
           aria-label="City"
           matInput
           [formControl]="citiesControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="onCitySelected($event)">
      <mat-option *ngFor="let city of filteredCities$ | async" [value]="city.Country.LocalizedName + ', ' + city.AdministrativeArea.LocalizedName + ' (' + city.AdministrativeArea.ID + ')'">
          {{city.Country.LocalizedName}}, {{city.AdministrativeArea.LocalizedName}} ({{city.AdministrativeArea.ID}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <app-forecast [selectedCity]="selectedCity"></app-forecast>
</form>
