<mat-card class="example-card" *ngIf="(currentForecast$ | async ) as currentForecast">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </div>
<!--    <mat-card-title>{{selectedCity.AdministrativeArea.LocalizedName}}</mat-card-title>-->
<!--    <mat-card-subtitle>{{selectedCity.Country.LocalizedName}} ({{currentForecast[0]?.DateTime | date : 'EEEE, MMMM d, y'}})</mat-card-subtitle>-->

    <mat-card-actions>
      <button mat-raised-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card-header>


  <table mat-table [dataSource]="currentForecast" class="mat-elevation-z8">

    <ng-container matColumnDef="{{forecastColumnDefs.TIME}}">
      <th mat-header-cell *matHeaderCellDef>{{forecastColumnDefs.TIME}}</th>
      <td mat-cell *matCellDef="let element"> {{element.DateTime | date : 'shortTime'}} </td>
    </ng-container>

    <ng-container matColumnDef="{{forecastColumnDefs.TEMPERATURE}}">
      <th mat-header-cell *matHeaderCellDef>{{forecastColumnDefs.TEMPERATURE}}</th>
      <td mat-cell *matCellDef="let element"> {{element.Temperature.Value}} {{element.Temperature.Unit}}</td>
    </ng-container>

    <ng-container matColumnDef="{{forecastColumnDefs.COMMENT}}">
      <th mat-header-cell *matHeaderCellDef>{{forecastColumnDefs.COMMENT}}</th>
      <td mat-cell *matCellDef="let element">
        {{element.IconPhrase}}
      </td>
    </ng-container>

    <ng-container matColumnDef="{{forecastColumnDefs.ICON}}">
      <th mat-header-cell *matHeaderCellDef>{{forecastColumnDefs.ICON}}</th>
      <td mat-cell *matCellDef="let element">
        <img src="https://developer.accuweather.com/sites/default/files/{{element.WeatherIcon > 10 ? element.WeatherIcon : '0' + element.WeatherIcon}}-s.png" alt="">
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</mat-card>
